*{
    margin: 6% 0 0 0;
}
/*body*/

body{
    width: 1000px;
    overflow: scroll;
    margin-left: 25%;
}
section{
    height: 100%;
}

span{
    position: fixed;
    pointer-events: none;
    animation: animate 7s linear infinite;
}
@keyframes animate {
    0%{
        transform: scale(0) translateY(-500%) rotate(0deg);
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    90%{
        opacity: 0.3;
    }
    100%{
        transform: scale(1) translateY(0) rotate(360deg);
        opacity: 0.2;
    }

}

/*================HEADER=================*/

header{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    margin-left: 10%;
    margin-top: 10%;
    height: 150px;
    width: 50%;
    text-align: center;
    position: relative;

}
.header_title{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: #041848;
    text-align: center;
    margin: 45px 0 0 0;


}
.header__inf{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 30px;
    color: #041848;
    font-weight: 300;
    margin: 10px;
}
#logo{
    margin: 0;
}

/*==================MAIN==============*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15% 0 0 0;
    height: 100%;
    width: 100%;

}

h1 {

    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #041848;
    margin: 5px;
    text-align: center;

}
/*flag ang=d pizza checkbox*/
.blocks{
    display: flex;
    justify-content: center;

}
/*lang flag*/
.uablock, .usblock{
    height: 70px;
    width:70px;
    border-radius: 50%;
    margin-top: 10px;

}
/*animated line*/

/*==========BTN===========*/

.dropbtn {
    background-color: white;
    opacity:    .9;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 900;
    height: 80px;
    padding: 15px;
    margin-top: 1px;
    font-size: 35px;
    border-radius: 45px;
    border-color: black;
    cursor: pointer;
    width: 70%;

}

.dropbtn:hover, .dropbtn:focus {
    background-color: whitesmoke;
    opacity: 0.7;

}



.dropdown {
    position: relative;
    display: table;
    margin: 0;


}

.dropdown-content {
    display: none;
    position: relative;
    width: 70%;
    height: 90%
}



.dropdown a:hover {background-color: #ddd;}

.show {
  display: flex;
    flex-direction: column;

}

/*table*/
table {
    width: 100%;

}
td,  tr {
    width: 400px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Noto Sans TC', sans-serif;
    margin-top: 5%;
    height: 27px;
}
th{
font-size: 40px;}
h2{
    width: 400px;
    height: 25px;
    font-size: 35px;
    color: #d62828;
    margin-bottom: 5%;

}
h3{
    font-size: 30px;
}


/*footer*/
footer{
    text-align: center;
    margin-right: 30%;
    color: #041848;
}
*table{
    margin: 40px 0 0  0;
}
